body{
    margin: 0;
    padding: 0;
}
.custom-center{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.custom-vertical-center{
    top: 50%;
    transform: translate(0,-50%);
}
.custom-horizontal-center{
    left: 50%;
    transform: translate(-50%,0);
}
.custom-horizontal-line{
    padding-top: 2px;
    padding-left: 2px;
    background: #000;
}
.custom-border{
    border-radius: 15px;
}
.custom-no-break{
  white-space: nowrap;
}
.custom-hover-container:hover .custom-hover-dislay-text{
    opacity: 1;
}
.custom-hover-container:hover .custom-hover-hide-image{
     opacity: 0.3;
}
.custom-hover-dislay-text{
    position: absolute;
    bottom:0;
    opacity: 0;
    width: 100%;
}


.custom-hover-hide-image{
    position: relative;
   
}
.custom-hover-topic:hover{
    background: #e5e5e5;

}