body{
    font-family: cursive;
    font-size: 16px;
}
div, img, input{
   position:absolute;
}
textarea {
  resize: none;
}
input[type = text], input[type = password], select{
      font-family: cursive ;
    font-size: 20px;
    padding: 0 6px 0 6px;
     border: 2px solid;
    border-radius: 6px;
    text-align: center;
}
th,td{
    text-align: center;
}
::placeholder{
    text-align: center;
}
th{
    font-size:20px;
}

input[type = submit], input[type = reset]{
    font-family: cursive;
    font-size: 24px;
    padding: 15px 20px 15px 20px;
    background-color:#D5E6BD;
}
input[type = submit]:hover{
    background-color: #C9DFAB ;
}
input[type = reset]:hover{
    background-color: #C9DFAB ;
}
input[type = submit].smaller, input[type = reset].smaller{
    font-family: cursive;
    font-size: 20px;
    padding: 3px 6px 3px 6px;
    background-color:#D5E6BD;
}
input[type = submit].smaller:hover{
    background-color: #C9DFAB ;
}
input[type = reset].smaller:hover{
    background-color: #C9DFAB ;
}
a{
    color: black;
    font-style: italic;
}
a div{
    color: black;
    font-style: italic;
}
a:hover{
    text-decoration: underline;
}
a:hover div{
    text-decoration: underline;
}

